{% extends 'base.html' %}

{% block content %}

<h1>Incomes</h1>

{% for income in income %}
    <a href="{% url 'incomes_detail' income.id %}">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Income Entry: {{ income.id }}</span>
                <p>Amount: ${{ income.amount }}</p>
                <p>Date: {{ income.date }}</p>
                <p>Source: {{ income.source }}</p>
                <p>Description: {{ income.description|linebreaks }}</p>
            </div>
        </div>
    </a>
{% endfor %}


{% endblock %}