{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-content">
        <span class="card-title">Expense Entry:</span>
        <p>Amount: ${{ expense.amount }}</p>
        <p>Date: {{ expense.date }}</p>
        <p>Category: {{ expense.category }}</p>
        <p>Description: {{ expense.description|linebreaks }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'expenses_update' expense.id %}">Edit</a>
        <a href="{% url 'expenses_delete' expense.id %}">Delete</a>
    </div>
</div>

{% endblock %}